In [1]:
import pandas as pd
alunosDIC = {'Nome':['Ricardo','Pedro', 'Gabriel', 'Carlos'],
        'Nota':[4.5,5,10,2],
         'Aprovado':['Não', 'Não','Sim', 'Não']}

alunosDF = pd.DataFrame(alunosDIC)
print(alunosDF)

      Nome  Nota Aprovado
0  Ricardo   4.5      Não
1    Pedro   5.0      Não
2  Gabriel  10.0      Sim
3   Carlos   2.0      Não

In [8]:
alunosDF['Nota']

0     4.5
1     5.0
2    10.0
3     2.0
Name: Nota, dtype: float64

In [12]:
alunosDF.loc[2:]

      Nome  Nota Aprovado
2  Gabriel  10.0      Sim
3   Carlos   2.0      Não

In [17]:
alunosDF.loc[alunosDF['Nota'] < 6]

      Nome  Nota Aprovado
0  Ricardo   4.5      Não
1    Pedro   5.0      Não
3   Carlos   2.0      Não

In [14]:
alunosDF['Nome'] == 'Gabriel'

0    False
1    False
2     True
3    False
Name: Nome, dtype: bool